.art {

  float:left;
  width: 08.33333333%;
  padding-bottom: 08.333333%; /* = width for a 1:1 aspect ratio */
  margin:0%;
  background-color: white; /* commenting will hide all colorless square */

}

/* https://stackoverflow.com/questions/20456694/grid-of-responsive-squares */

button:hover {
  color: white !important;
  background-color: #94d35a !important;
}

body {
  padding: 50px;

}
h1 {
    font-family: "HelveticaNeue-bold";
}

h3 {
    font-family: "HelveticaNeue";


}

h5 {
    font-family: "HelveticaNeue";

}

h6 {
    font-family: "HelveticaNeue";
    font-size:18px;
    padding-bottom: 15px;

}

p {
  padding-bottom: 20px;

}

button {
  color:white !important;
  background-color: gray !important;
  border-color: white !important;
}

.link-normal {
  color:black;
  text-decoration:underline;
}
