* {
  font-family: helvetica;
}

body {
  margin: 2.5rem;
}

a {
  color: #ff4e47;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }

button {
  height: 2rem;
  font-size: 1rem;
  margin-right: .5rem;
  background: transparent;
  color: #ff4e47;
  border-radius: 1rem;
  border-color: #ff4e47;
}

button:hover{
  color: white;
  background: #ff4e47;
}

h1 {
  margin: 0;
}

#div--info-section{
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
}

#div--grid-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 75vh;
}

.art {
  margin:0%;
  background-color: #f7cc47;
  /* commenting will hide all colorless square */
}
